<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" name="viewport" content="initial-scale=0.5, maximum-scale=1.0, width=device-width">
  <meta name="description" content="A movie website based on TMDB API">  
  <meta name="keywords" content="Movies, TV Shows, Streaming, Reviews, API, Actors, Actresses, Photos, User Ratings, Synopsis, Trailers, Teasers, Credits, Cast">
  <link rel="shortcut icon" type="image/png" href="/fav.png"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
</head>
<body style="background-color:black">
  <div id="root"></div>
</body>
</html>