@import '../styles/default.less';

.root {
  background-color: #ccc;
  height: 100vh;
  :global {
    .ant-pro-top-nav-header-main > div .ant-pro-top-nav-header .anticon {
      color: inherit !important;
    }
    .header-top-right {
      color: #fff;
      align-items: center;
      display: flex;
      gap: @common-gap-lg;
      > a {
        color: white;
        font-size: xx-large;
        :hover {
          color: rgba(var(--tmdbLogoGreen), 0.8);
        }
      }
    }
    .anticon {
      color: inherit !important;
    }
    .ant-input-group-wrapper {
      vertical-align: middle;
    }
    @media (max-width: 768px) {
      .header-top-right {
        display: none;
      }
    }
  }
}
.footer {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-image: radial-gradient(
    at 30% top,
    #031d33 0%,
    rgba(var(--tmdbDarkBlue), 1) 70%
  );
  > a {
    color: #fff;
  }
}

.header {
  height: 100%;
  display: flex;
  max-width: @max-page-width;
  margin: 0 auto;
  justify-content: space-between;
  :global {
    .logo {
      height: 35px;
    }
  }
}
